html {
  font-size: 62.5%;
}

body {
  background: $bc-bg;
  color: $bc-txt;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: $bf-medium;
  line-height: $bl-body;
  overflow-x: hidden;
  word-break: break-all;
}

img {
  vertical-align: top;
}

li {
  list-style: none;
}