extends /theme/default
include /mixin/module

block content

  .article
    h4 Service Worker Offline Test
    .js-book 

    .c-grid
      ul.c-row

    template(id="productrow")
      li.c-col.c-col-s-12.c-col-l-6
        a.c-card
          p.c-card_ttl
          .c-card_thum
            img

