extends /theme/default
include /mixin/module

block content

  .article
    h4 Service Worker Offline Test
    .js-book 

    //- h2 MOOMINS
    //- .c-grid
    //-   .c-row
    //-     .c-col.c-col-s-4.c-col-l-3
    //-       img.u-max-img(src="/common/img/thumb/thumb-sample-0.jpg")
    //-     .c-col.c-col-s-4.c-col-l-3
    //-       img.u-max-img(src="/common/img/thumb/thumb-sample-1.jpg")
    //-     .c-col.c-col-s-4.c-col-l-3
    //-       img.u-max-img(src="/common/img/thumb/thumb-sample-2.jpg")
    //-     .c-col.c-col-s-4.c-col-l-3
    //-       img.u-max-img(src="/common/img/thumb/thumb-sample-3.jpg")
    //-     .c-col.c-col-s-4.c-col-l-3
    //-       img.u-max-img(src="/common/img/thumb/thumb-sample-4.jpg")
    //-     .c-col.c-col-s-4.c-col-l-3
    //-       img.u-max-img(src="/common/img/thumb/thumb-sample-5.jpg")
    //-     .c-col.c-col-s-4.c-col-l-3
    //-       img.u-max-img(src="/common/img/thumb/thumb-sample-6.jpg")
    //-     .c-col.c-col-s-4.c-col-l-3
    //-       img.u-max-img(src="/common/img/thumb/thumb-sample-7.jpg")
    //-     .c-col.c-col-s-4.c-col-l-3
    //-       img.u-max-img(src="/common/img/thumb/thumb-sample-8.jpg")
