// -------------------------------------
// color
// -------------------------------------

$white: #fff;
$bc-txt: #333;

$bc-yellow: #ffca28;
$bc-amber: #ffa000;
$bc-orange: #ed6b00;
$bc-navy: #2c384a;
$bc-blue: #039be5;
$bc-coral: #ff8a65;
$bc-bg: #eceff1;
$bc-line: #c1cbd2;

$bc-navy-sub: #40526c;
$bc-blue-sub: #45b1e5;
$bc-bg-sub: #dde2e5;

$bc-blue-ops: #c9e2ef;
$bc-bg-ops: #f4f6f8;

$bc-yellow-ops: #f1e6bf;
$bc-coral-ops: #f2d1c7;


// -------------------------------------
// width
// -------------------------------------

$bw-max: 900px;
$break-pointPC: 768px;


// -------------------------------------
// font
// -------------------------------------

$bf-h1: 4.5rem;
$bf-h2: 3.2rem;
$bf-h3: 2.8rem;
$bf-h4: 2.4rem;
$bf-h5: 2.2rem;
$bf-h6: 1.8rem;

$bf-xlarge: 2.4rem;
$bf-large: 1.8rem;
$bf-medium: 1.6rem;
$bf-small: 1.4rem;
$bf-xsmall: 1.2rem;


// -------------------------------------
// margin
// -------------------------------------

$bm-h1: (top:1.2em, btm:1.0rem);
$bm-h2: (top:1.2em, btm:1.0rem);
$bm-h3: (top:1.2em, btm:1.0rem);
$bm-h4: (top:1.2em, btm:1.0rem);
$bm-h5: (top:1.2em, btm:1.0rem);
$bm-h6: (top:1.2em, btm:1.0rem);

$bmt-xlarge: 3.0rem;
$bmt-large: 1.5rem;
$bmt-medium: 1.0rem;

// -------------------------------------
// line hight
// -------------------------------------

$bl-h1: 1.3;
$bl-h2: 1.3;
$bl-h3: 1.3;
$bl-h4: 1.3;
$bl-h5: 1.3;
$bl-h6: 1.3;


$bl-body: 1.8;
$bl-label: 1.0;
$bl-medium: 1.6;
$bl-small: 1.3;


// -------------------------------------
// box shadow
// -------------------------------------

$b-shadow-def: 0 1px 5px rgba(0,0,0,.1);


// -------------------------------------
// border radius 
// -------------------------------------

$br-comp-def: 6px;


// -------------------------------------
// opacity
// -------------------------------------

$bo-half: .5;
