.c-btn-wrap {
  @include module-mt-def;
  @include first-mt0;
}

%c-btn {
  background: $bc-orange;
  color: $white;
  padding: $bmt-large $bmt-xlarge;
  border-radius: $br-comp-def; 
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: $b-shadow-def;
  line-height: $bl-small;
}

.no-touchdv {
  %c-btn:hover {
    opacity: 0.8;
  }
}

.c-btn {
  @extend %c-btn;
}

.c-btn-delete {
  @extend %c-btn;
  background: $bc-blue;

}