.c-btn-wrap {
  @include module-mt-def;
  @include first-mt0;
}

.no-touchdv {
  %c-btn:hover,
  %c-btn-s:hover {
    opacity: .8;
  }
}


%c-btn {
  background: $bc-blue;
  border-radius: $br-comp-def;
  box-shadow: $b-shadow-def;
  color: $white;
  display: block;
  height: 100%;
  line-height: $bl-small;
  padding: $bmt-large $bmt-xlarge;
  position: relative; 
  width: 100%;
}

%c-btn-s {
  background: $bc-blue;
  border-radius: $br-comp-def;
  box-shadow: $b-shadow-def;
  color: $white;
  display: block;
  height: 100%;
  line-height: $bl-small;
  padding: $bmt-medium $bmt-large; 
  width: 100%;
}


// 通常サイズ

.c-btn {
  @extend %c-btn;
}

.c-btn-conv {
  @extend %c-btn;
  background: $bc-orange;
}


// 小さいサイズ

.c-btn-s {
  @extend %c-btn-s;
}

.c-btn-conv-s {
  @extend %c-btn-s;
  background: $bc-orange;
}


// アイコン
.c-btn_wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  position: relative;
}

.c-btn_ico {
  left: -1rem;
  margin-top: -.9rem;
  position: absolute;
  top: 50%;
}

.c-btn_txt {
  text-align: center;
}

