$cols: (2,3,4,5,6,7,8,9,10,12);


@each $col in $cols {
  .c-col-s-#{$col} {
    width: calc( (100% / 12) * #{$col} - (#{$bmt-medium} + .1px) );
  }
}

@include mqpc {
  @each $col in $cols {
    .c-col-l-#{$col} {
      width: calc( (100% / 12) * #{$col} - (#{$bmt-medium} + .1px) );
    }
  }
}


.c-grid {
  width: 100%;
  @include module-mt-def;
}

.c-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -#{$bmt-medium};
  margin-top: -#{$bmt-medium};
  padding: 0;

  &--tp {
    align-items: flex-start;
  }

  &--md {
    align-items: center;
  }

  &--bm {
    align-items: flex-end;
  }

  &--ct {
    justify-content: center;
  }

  &--rt {
    justify-content: flex-end;
  }

  & > *:empty {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    visibility: hidden;
  }
}

.c-col {
  // flex: 0 0 100%;
  flex: none;
  margin: #{$bmt-medium} 0 0 #{$bmt-medium};
  max-width: 100%;
  @include first-mt0;
}