%c-tbl {
  @include module-mt-def;
  background: $bc-bg-ops;
  border: 1px solid $bc-bg;
  border-collapse: collapse;
  width: 100%; 

  th,
  td {
    border: 1px solid $bc-bg;
    font-weight: normal;
    padding: $bmt-medium;
  }

  thead th {
    background: $bc-navy;
    color: $bc-bg-ops;
  }

  tbody th {
    background: $bc-bg-sub;
    text-align: left;
  }
}

.c-tbl {
  @extend %c-tbl;
}

.c-tbl-notice {
  @extend %c-tbl;

  thead th {
    background: $bc-orange;
  }

  tbody th {
    background: $bc-yellow-ops;
  }
}


$margins: (20,30,40,50,60);
@each $margin in $margins {
  .c-tbl_w#{$margin}p {
    width: calc(#{$margin} * 1%);
  }
}
