.c-txt {
  @include module-mt-def;
}


.c-txt-lt {
  text-align: left !important;
}

.c-txt-ct {
  text-align: center !important;	
}

.c-txt-rt {
  text-align: right !important;
}

.c-txt-m {
  font-size: $bf-medium;
}

.c-txt-s {
  font-size: $bf-small;
}

.c-txt-xs {
  font-size: $bf-xsmall;
}

b,
.c-txt-b {
  font-weight: bold;
}

em,
.c-txt-em {
  color: $bc-orange;
  font-style: normal;
}

