.c-wide {
  @include module-mt-def;
  padding: $bmt-large 15px;
  background: $bc-bg-ops;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;

  @include mqpc {
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
  }

  &:after,
  &:before {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: $bc-bg-ops;
    display: block;
    content: '';
    top: 0;
    z-index: -1;
  }

  &:after {
    left: 0;
  }

  &:before {
    right: 0;
  }

  & + .c-wide {
    margin-top: 0;
  }
}