.area + .area-wide,
.area-wide + .area-wide {
  padding-top: 0;
}

.area {
  border-top: 1px solid $bc-line;
  margin: 0 auto;
  max-width: $bw-max;
  padding: #{$bmt-xlarge} 15px;
  position: relative;
  @include first-mt0;
  @include last-mb0;

  &:after,
  &:before {
    border-top: 1px solid $bc-line;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: -1px;
    width: 100vw;
    z-index: -1;
  }

  &:after {
    left: 0;
  }

  &:before {
    right: 0;
  }

  &--ops {
    background: $bc-bg-ops;

    &:after,
    &:before {
      background: $bc-bg-ops;
    }
  }

  section:first-child {
    @include first-mt0;
  }

}

.area-wide {
  @include first-mt0;

  &--ops {
    background: $bc-bg-ops;
  }
}

