.article + .article-wide,
.article-wide + .article-wide {
  padding-top: 0;
}

.article {
  max-width: $bw-max;
  margin: 0 auto;
  padding: #{$bmt-xlarge} 15px;
  border-top: 1px solid $bc-line;
  @include first-mt0;
  position: relative;

  &:after,
  &:before {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: block;
    content: '';
    top: -1px;
    z-index: -1;
    border-top: 1px solid $bc-line;
  }

  &:after {
    left: 0;
  }

  &:before {
    right: 0;
  }

  &--ops {
    background: $bc-bg-ops;

    &:after,
    &:before {
      background: $bc-bg-ops;
    }
  }
}

.article-wide {
  @include first-mt0;

  &--ops {
    background: $bc-bg-ops;
  }
}

