header {
  background: $bc-navy;
  display: flex;

  a {
    color: $white;
    text-decoration: none;
    padding: 2.0rem;
    border-right: 1px solid $bc-navy-sub;

    &:active {
      background: $bc-navy-sub;
    }
  }
}

#content {
  @include first-mt0;
}

footer {
  border-top: 1px solid $bc-line;
  padding: 2.0rem;
  text-align: center; 
}

