header {
  background: $bc-navy;
  display: flex;

  a {
    color: $white;
    text-decoration: none;
    padding: 2.0rem;
    border-right: 1px solid $bc-navy-sub;

    &:active {
      background: $bc-navy-sub;
    }
  }

  p {
    position: fixed;
    top: 0;
    right: 0;
    color: $white;
    padding: $bmt-medium;
    font-size: $bf-xsmall;
    opacity: $bo-half;

    &:after {
      display: block;
      content: 'offline';
    }

    &.is-active {
      &:after {
        content: 'online';
      }
    }
  }
}

.head-delete-tkn {
  top: 25px;
  display: block;
}

#content {
  @include first-mt0;
}

footer {
  border-top: 1px solid $bc-line;
  padding: 2.0rem;
  text-align: center; 
}

