header {
  background: $bc-navy;
  display: flex;

  a {
    border-right: 1px solid $bc-navy-sub;
    color: $white;
    padding: 2.0rem;
    text-decoration: none;

    &:active {
      background: $bc-navy-sub;
    }
  }

  p {
    color: $white;
    font-size: $bf-xsmall;
    opacity: $bo-half;
    padding: $bmt-medium;
    position: fixed;
    right: 0;
    top: 0;

    &:after {
      content: "offline";
      display: block;
    }

    &.is-active {
      &:after {
        content: "online";
      }
    }
  }
}

.head-delete-tkn {
  display: block;
  top: 25px;
}

#content {
  @include first-mt0;
}

footer {
  border-top: 1px solid $bc-line;
  padding: 2.0rem;
  text-align: center; 
}

